.hero {
    height: 100vh;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero span {
    color: var(--primary-color);
}